@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap'); /*import de la police raleway*/
body{ /*selection police*/
    font-family: 'Raleway', sans-serif;
}
header img{/* largeur du logo*/
    width: 150px;
}
.header-top nav{ /*largeur de la <nav>*/
    width: 30%;
}
header{
    display: flex;
    flex-direction: column;
}
.header-top{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}
.header-bottom{
    margin-left: 40px;
}
li{
    list-style: none;
}
.propos, .hebergement, .assitance{
    width: 30%
}
nav a{
    font-weight: bold;
}
a{
    text-decoration: none;
    color: grey;
}
nav a:hover{
    color: #0065FC;
    border-bottom: 2px #0065FC solid;
}
a:hover{
    color: black;
}
nav ul{
    display: flex;
    justify-content: space-around; 
}
.blue{
    color: #0065FC;
}
footer h3{
    margin: 20px 20px 20px 40px;
}
.footer{
    max-width: 100%;
    margin: 0%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: flex-start;
}
