@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
body
{
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Raleway', sans-serif;
}
li
{
    list-style: none;
}
footer h3
{
    text-align: left;
    margin: 40px;
}
.footer
{
    max-width: 100%;
    margin: 0%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: flex-start;
}
.propos, .hebergement, .assitance
{
    width: 30%
}
a{
    text-decoration: none;
}
a:hover{
    background-color: blue;
}
a:visited{
    color: #000000;
}

nav ul{
    display: flex;
    justify-content: space-around; 
}
header{
    display: flex;
    flex-direction: column;
}
.header-top{
    margin-left: 60%;
    justify-content: flex-end;
}
.blue{
    color: #0065FC;
}
header img{
    padding: 0px 0px 0px 0px;
    width: 8%;
}
