@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap'); /*import de la police raleway*/
body{ /*selection police*/
    font-family: 'Raleway', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}    

header img{
    width: 150px;
}

.header-top { 
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding-top: 30px;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
    font-weight: bold;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 15%;
    height: 100%;
    font-weight: bold;
}

ul{
    display: flex;
    list-style: none;  
}

li{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: grey;
}


 nav a:hover{
    color: #0065FC;
    border-top: 2px #0065FC solid;
    border-top: 15px;
}

.blue{
    display: flex;
    align-items: center;
    color: #0065FC;

}

.blue:hover{
    border-top: solid #0065FC 2 px;
}

/* Début css de la partie section*/

.search{
    font-size: bold;
    display: flex;
    width: 30%;
    height: 50px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.gps{
    width: 20px;
    height: 20px;
}

.position{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    border-radius: 15px 0px 0px 15px;
    background-color: #f2f2f2;   
}

input{
    border: 2px solid #f2f2f2;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    height: 50px;
    text-align: center;
}

.city:focus{
    outline: none;
}
/* div de la recherche*/

.btnsearch{
    background: transparent;
    width: 130px;
    height: 100%;
    border: none;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
}
.btnsearch:hover{
    background-color: #DEEBFF;
    color: #0065FC;
    cursor: pointer;
}

.filterbar{
    display: flex;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 20px;
}

#flt-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flt-2{
    display: flex;
    margin-left: 20px;
    height: 40px;
    text-align: center;
    border-radius: 25px 25px 25px 025px;
    border: 2px solid #f2f2f2;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 0;
    cursor: pointer;
}

.flt-2:hover{
    background-color: #0065FC;
    color: white;
}

#logocercle{
    color: #0065FC;
}


#logocercle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: -2px;
    border-radius: 50%;
    background: #DEEBFF
}

/*div hebergement*/

#lodging{
    display: flex;
}

.resultinfo{
    display: flex;
    align-items: center;
    color: #0065FC;
    background-color: #DEEBFF;
    border: 1px solid #DEEBFF;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.resultinfo p{
    color: black;
    margin-left: 50px;
}
/* debut css <div> hebergement */
.resultcontainer{
    display: flex;
    margin-bottom: 20px;
}

h2, a ,h3{
    width: 100%;
    margin-bottom: 20px;
}

.seemore{
    color: rgb(0, 0, 0);
}

.seemore:hover{
    color: #0065fc;
}

#containercard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 15px 15px 15px 15px;
    width: 60%;
    padding-left: 20px;
    background-color: #f2f2f2;
}

h4{
    color: black;

}

.flt-2 p{
    color: rosybrown;

}

.hostelcontainer{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
}

.hostelcard{
    display: flex;
    flex-direction: column;
    border: white solid 2px;
    border-radius: 15px 15px 15px 15px;
    width: 100%; 
    background-color: white;
    box-shadow: grey 2px 2px 2px 2px;
    line-height: 1px;
}

.cardlink{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 27%;

}

.hostelcard:hover{
    color: #0065FC;
    border: none;
}

.imghotel{
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.star{
    margin-left: 10px;
    margin-bottom: 15px;
}

#popular{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 80px;
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f2f2f2;
    border-radius: 15px 15px 15px 15px;
}
.populartitle{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.populartitle .fa-chart-line{
    
}

.cardpopular{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background: white;
    border-radius: 15px;
    padding: 3px;
    height: 140px;
    transition: all 1s ease;
}

.imgpopular{
    background-color: white;
    width: 30%;
    height: 100%;
    border-radius: 15px 0px 0px 15px;   
    object-fit: cover;
}

.cardtitle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0px 5px 0px 15px;
    width: 70%;
}

.cardtitle h4, p{
    margin: 10px 5px 0px 15px
}

.cardtitle .star{
    margin-left: 15px;
}

.containerpopular{
    display: flex;
    flex-direction: column;
}

.cardpopular:hover{
    transform: scale(1.2);
}










/*css du footer*/

footer h3{
    margin: 20px 20px 20px 40px;
}

.footer{
    max-width: 100%;
    margin: 0%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: flex-start;
}